<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinFu.DynamicProxy.OfficialRelease" version="1.0.5" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="NetIde.Shell" version="0.0.0.22" targetFramework="net40" />
  <package id="NetIde.Shell.Interop.1.0" version="0.0.0.22" targetFramework="net40" />
  <package id="NetIde.Shell.Settings" version="0.0.0.22" targetFramework="net40" />
  <package id="NetIde.Support" version="0.0.0.22" targetFramework="net40" />
  <package id="NetIde.Util" version="0.0.0.22" targetFramework="net40" />
</packages>